<h1>Posts</h1>

<% @posts.each do |post| %>
    <h2>
      <%= post.title %>
    </h2>
    <p>
      <%= post.body %>
    </p>

<% if post.user_id %>
    <p>posted by:
      <% if logged_in?%>
        <td><%= User.find(post.user_id).name %></td>
      <% else %>
        <td>Unknown</td>
      <% end %>
    </p>
<% end %>
<% end %>

<% if logged_in? %>

  <%= link_to 'New Post', new_post_path %>
  <%= link_to 'Log Out', logout_url, method: 'delete' %>
  <p>signed in as: <%= current_user.name %></p>
<% else %>
  <%= link_to 'Sign In', login_path %>
  <%= link_to 'Home', root_path %>
<% end %>
