
<div class="centered-div">
  <% if logged_in? %>
    <%= link_to 'New Post', new_post_path %> -
    <%= link_to 'Log Out', logout_url, method: 'delete' %>
    <p>signed in as: <%= current_user.name %></p>
  <% else %>
    <p>
      <%= link_to 'Sign In', login_path %> to post or view the authors
    </p>
  <% end %>
</div>

<hr>

<% @posts.each do |post| %>
    <h2>
      <%= post.title %>
    </h2>
    <p>
      <%= post.body %>
    </p>

    <% if post.user_id %>
        <p>posted by:
          <% if logged_in?%>
            <strong><%= User.find(post.user_id).name %></strong>
          <% else %>
            <td>Anonymous</td>
          <% end %>
        </p>
    <% end %>

    <hr>
<% end %>
